.footer{
    padding:  50px 0px;
    background-color: #eeeaff;
width: 100%;
margin-top: auto;
}


.footer-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap:2rem;
background-color: #eeeaff;
}
.footerbox{
width: 30%;
}
.footer-box p{
    line-height: 1.2rem;
    margin-top: 20px;
}

.footer-title{
    font-size:1.2rem;
margin-bottom: 20px;
margin-left:35px;
}


.footer-link{
    line-height: 20px;
    color: var(--heading-color);

}


.footer-link li{
    line-height: 28px;
    color: var(--heading-color);
}

.footer-link li a {
    cursor: pointer;
}

.footer-link li a:hover{
    color: var(--primary-color);
}